[acoustic]

label_style = hts
dimension = 425
inp_dim = 425
out_dim = 187
inp_norm = MINMAX
out_norm = MINMAX

[paths]
glott_hmm = ./data/glott_hmm
glott_dnn = ./data/glott_dnn

[labels]

label_style = HTS
label_type = phone_align
in_label_align_dir =./data/acoustic/label_phone_align
linguistic_file_name = ./data/hed_feats.txt
silence_pattern = ['*-#+*']
subphone_feats = full
additional_features = {}

[magphase_vocoder]
xpath_file_name = ./data/xml_labels/xpaths.txt
label_config_file = ./resources/examplelabelconfigfile.py
add_frame_features = True
fill_missing_values = False
xpath_label_align_dir = ./data/label_phone_align
enforce_silence = False
remove_silence_using_binary_labels = False
remove_silence_using_hts_labels = True
precompile_xpaths = True
iterate_over_frames = True
appended_input_dim = 0

[file]
file_id_scp = ./data/file_id_list.scp
test_id_scp = ./data/test_id_scp.scp
question_file_name = ./resources/mandarin/question-mandarin.hed



